.title {
    color: rgb(140, 120, 160);
}

.detail {
    color: rgb(140, 120, 160);
}

h1 {
    margin: 0 0 0 10px;
    line-height: 1.4em;
}
h2 {
    font-size: 1.3em;
    color:rgba(93,27,235);
    margin-bottom: 0;
}

h2 > span {
    color: rgb(140, 120, 160);
    font-size: medium;
}

.flex-container {
    display: flex;
    justify-content:flex-start;
}

.affiche {
    width: 300px;
    margin-right: 50px;
}

.affiche > img {
    width: 300px;
    height: 450px;
    border:1px solid #0D6CFD;
    /* background-image: url("./assets/affiche-serie-non-dispo.png"); */
}

p.genre span{
    padding: 2px 5px;
    background: #fff;
    margin: 5px;
    border-radius: 50px;
    color: #60605a;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div>button:nth-child(1) {
    margin-bottom: 10px;
}

div>button:nth-child(2) {
    margin-left: 10px;
    margin-bottom: 10px;
}

div>button>span>i {
    margin-right: 7px;
}

.rounded-pill {
    font-size: 0.9em;
}